
`timescale 1ns / 1ns

module test;


wire  carry, sum;

reg  a, b, c;



full_adder top(carry, sum, a, b, c); 
 

`ifdef verilog

 //please enter any additional verilog stimulus in the /home/arpanr2/ece425.work/full_adder_run1/testfixture.verilog file
`include "/home/arpanr2/ece425.work/full_adder_run1/testfixture.verilog"

`endif

endmodule 
